@font-face {
  font-family: gilroy-regular;
  src: url(../fonts/gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: gilroy-medium;
  src: url(../fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroy-bold;
  src: url(../fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: gilroy-semibold;
  src: url(../fonts/gilroy/FontsFree-Net-gilory.ttf);
}
