// colors
$primary-color: #1e1e1e;
$secondary-color: #e58411;
$decoration-color: #eeeeee;
$secondary-section: #f7f7f7;
$text-light: #8d8d8d;
$text-dark: #0d1b39;

//fonts
$type1-bold: "gilroy-bold", sans-serif;
$type1-semibold: "gilroy-semibold", sans-serif;
$type1-medium: "gilroy-medium", sans-serif;
$type1-regular: "gilroy-regular", sans-serif;
$type2: "Inter", sans-serif;
$type3: "DM Sans", sans-serif;
